<div class="container-fluid" id="app-customer">
    <div class="m-3 text-center">
        <h3>Chăm sóc khách hàng</h3>
    </div>
    <div class="">
        <input class="form-control" placeholder="Nhập thông tin khách">
    </div>
    <div class="p-3">
        <table class="table table-bordered">
            <tr>
                <th>Tên</th>
                <th>Doanh số</th>
                <th>Xem</th>
            </tr>
            <tr v-for="customer in customers">
                <td>{{customer.name}}</td>
                <td class="text-right">{{numberWithCommas(customer.totalRevenue)}}</td>
                <td><a :href="'/customer/' + customer.code + '/info'">Xem thêm</a></td>
            </tr>
        </table>
    </div>
</div>
<script src="js/customer.js"></script>