<div id="dashboard-customer">
    <h1 class="m-3">Tổng quát</h1>
    <div class="border border-success rounded p-3">
        <h3>Tình trạng sức khỏe</h3>
        <div class="row">
            <div class="col border alert alert-success">
                <div class="text-center">
                    <h5>Tốt</h5>
                </div>
                <div>
                    <p>{{getHealth('GOOD').length}}</p>
                    <button class="btn btn-info" @click="getCustomCustomers('GOOD')">Xem chi tiết</button>
                </div>
            </div>
            <div class="col border alert alert-primary">
                <div class="text-center">
                    <h5>Không tốt</h5>
                </div>
                <div>
                    <p>{{getHealth('NOT_GOOD').length}}</p>
                    <button class="btn btn-info" @click="getCustomCustomers('NOT_GOOD')">Xem chi tiết</button>
                </div>
            </div>
            <div class="col border alert alert-warning">
                <div class="text-center">
                    <h5>Bệnh</h5>
                </div>
                <div>
                    <p>{{getHealth('SICK').length}}</p>
                    <button class="btn btn-info" @click="getCustomCustomers('SICK')">Xem chi tiết</button>
                </div>
            </div>
            <div class="col border alert alert-danger">
                <div class="text-center">
                    <h5>Không xác định</h5>
                </div>
                <div>
                    <p>{{getHealth().length}}</p>
                    <button class="btn btn-info" @click="getCustomCustomers()">Xem chi tiết</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Khách hàng</th>
                    <th>Sức khỏe</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="customer in customCustomers">
                    <td> {{ customer.kiot.name ? customer.kiot.name : '' }} </td>
                    <td> {{ customer.origin.health ? customer.origin.health : 'Không xác định' }} </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    var view_dashboard = new Vue({
        el: "#dashboard-customer",
        data: {
            customers: [],
            customCustomers: []
        },
        methods: {
            getHealth: function(){return []},
            getCustomCustomers: function(){}
        }
    })

    class ModelDashboard {
        constructor(){
            this.customers = [];
            this.customCustomers = [];
            this.onUpdateData = function(){};
            this.initData();
        }
        initData = () => {
            var that = this;
            $.get("/creta/customer", function(data){
                that.customers = data;
                that.onUpdateData();
            })
        }
        getHealth = (state) => {
            // Tim nhung khach hang co cung state
            var result = this.customers.filter(function(customer){
                return customer.origin.health == state;
            });
            return result;
        }
    }

    class ControllerDashboard {
        constructor(view, model){
            this.view = view;
            this.model = model;
            this.model.onUpdateData = this.onUpdateData;
            this.view.getHealth = this.handleGetHealth;
            this.view.getCustomCustomers = this.getCustomCustomers;
        }
        onUpdateData = () => {
            this.view.$forceUpdate();
        }
        handleGetHealth = (state) => {
            return this.model.getHealth(state);
        }
        getCustomCustomers = (state) => {
            this.view.customCustomers = this.model.getHealth(state);
        }
    }
    var app_dashboard = new ControllerDashboard(view_dashboard, new ModelDashboard());
</script>