<div class="mt-5">
    <div class="list-group">
        <a href="/task/create" class="list-group-item list-group-item-action">Tạo mới</a>
        <!-- <a href="/task" class="list-group-item list-group-item-action">Danh sách</a>
        <a href="#" class="list-group-item list-group-item-action">Đợi duyệt</a> -->
        <a href="#" class="list-group-item list-group-item-action">Công việc của tôi</a>
    </div>
</div>