<div class="" id="show-task">
    <div class="m-5">
    </div>
    <div class="">
        <table class="table table-bordered">
            <tr v-for="task in tasks">
                <td>{{task.title || "Không tiêu đề"}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.status}}</td>
                <td><a href="/">Chi tiết</a></td>
                <td><button class="btn btn-danger" @click="btnDeleteTask(task.id)">x</button></td>
            </tr>
        </table>
    </div>
</div>
<script src="/js/Model/Task.js"></script>
<script src="/js/ViewModel/Task/show_task.js"></script>
<script>
    var app = ShowTask("#show-task");
</script>