# Database
MONGO_URL=mongodb://localhost:27017/report
MONGO_USER=black
MONGO_PASS=yourpassword

# KiotViet API
KIOT_CLIENT_ID=your_client_id
KIOT_CLIENT_SECRET=your_client_secret
KIOT_RETAILER=cretasolu

# Odoo API
ODOO_URL=https://odoo.creta.vn
ODOO_DB=creta
ODOO_USERNAME=your_odoo_username
ODOO_PASSWORD=your_odoo_password
ODOO_COMPANY_NAME=CRETA

# Google Apps Script URLs
SHEET_URL_MAIN=https://script.google.com/macros/s/AKfycbyiL1biuCCIp6doX5Ab3d-DwXkHscStGMHezW3bUw9pMJUagyedKRbnmdHPpSr8gwd-/exec
SHEET_URL_MINH=https://script.google.com/macros/s/AKfycbzd9fmojI-9ecwaxXRapnNs8kthPw6QCSZLf1Z85ttHFfURhehJNxF7_L9qicGpiDZYqA/exec
SHEET_URL_TELESALE_BAO=https://script.google.com/macros/s/AKfycbwnEuKnhbh6-UezE637HNBKLPTbD8yG-yiVtl6iwqkzm-YnujktoiCsbGYrQq8rJOGuwA/exec
SHEET_URL_TELESALE_HUY=https://script.google.com/macros/s/AKfycbzMoHB91SFTbPTNwzrOpiOEqH8rkUOK9tMTcyJ4uJli-kA0JVDbiYFixr98hyq/exec

# Server
PORT=3000
