
<html>
    <head>
        <%- include('../header.ejs') %>
        <script src="/js/ViewModel/Customer/backbone.js"></script>
        <script src="/js/ViewModel/Customer/customer.js"></script>
        <script src="/js/ViewComponent/Customer/customer.js"></script>
    </head>
    <body class="container">
        <div id="app-invoices-dashboard">
            <!-- <create-customer-note code="KH000561"></create-customer-note> -->
            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <td>TÊN</td>
                        <td>MUA CUỐI</td>
                        <td>NỢ</td>
                        <td>GHI CHÚ</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="customer in customersModel.customers">
                        <td>{{ customer.getKiotAttribute("name") || "" }}</td>
                        <td>{{ moment(customer.getKiotAttribute("modifiedDate") || "").format("YYYY-MM-DD") }}</td>
                        <td>{{ customer.getKiotAttribute("debt") }}</td>
                        <td><create-customer-note :code="customer.customer.code"></create-customer-note></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script>
            var app_invoice_dashboard = new Vue({
                el: "#app-invoices-dashboard",
                data: {
                    customersModel : new CretaCustomers()
                },
                methods: {

                },
                created(){

                }
            })
        </script>
    </body>
</html>