
<html>
    <head>
        <%- include('../header.ejs') %>
        <script src="/js/ViewModel/Customer/backbone.js"></script>
        <script src="/js/ViewModel/Customer/customer.js"></script>
        <script src="/js/ViewComponent/Customer/customer.js"></script>
    </head>
    <body class="container-fluid">
        <%- include("../menu") %>
        <br><br>
        <div id="app-invoices-dashboard">
            <!-- <create-customer-note code="KH000561"></create-customer-note> -->
            <!-- <customer-notes code="KH000561"></customer-notes> -->
            <input type="text" v-model="input_name" class="form-control m-2" placeholder="Nhập tên khách hàng...">
            <table class="table table-bordered m-2" >
                <thead>
                    <tr>
                        <td>TÊN</td>
                        <td>MUA CUỐI</td>
                        <td>NỢ</td>
                        <td>GHI CHÚ</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- <template v-if="input_name == ''">
                        <tr v-for="customer in customersModel.customers">
                            <td>{{ customer.getName() }}</td>
                            <td>{{ customer.getLastDate() }}</td>
                            <td>{{ customer.getDebt() }}</td>
                            <td><create-customer-note :code="customer.getCode()" :customer="customer" :task_model="new ModelCustomerTask({title: customer.getCode()})"></create-customer-note></td>
                        </tr>
                    </template> -->
                    <template>
                        <tr v-for="customer in customersModel.filterByName(input_name)">
                            <td>{{ customer.getName() }}</td>
                            <td>{{ customer.getLastDate() }}</td>
                            <td>{{ customer.getDebt() }}</td>
                            <td><create-customer-note :code="customer.getCode()" :customer="customer" :task_model="new ModelCustomerTask({title: customer.getCode(), type: 'NHAC_GOI_HANG'})"></create-customer-note></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <script>
            var app_invoice_dashboard = new Vue({
                el: "#app-invoices-dashboard",
                data: {
                    input_name: "",
                    customersModel : new ModelCustomers()
                },
                methods: {

                },
                created(){
                    this.customersModel.fetch();
                }
            })
        </script>
    </body>
</html>