<html>
    <head>
        <%- include('../header.ejs') %>
        <script src="/js/ViewModel/Invoice/backbone.js"></script>
        <script src="/js/ViewModel/Invoice/invoice.js"></script>
        <script src="/js/ViewModel/Invoice/productBarcode.js"></script>
    </head>
    <body>
        <div>
            
        </div>
        <script>

        </script>
    </body>
</html>