<html>
    <head>
        <%- include("header.ejs"); %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <div id="app">
                <table class="table table-bordered">
                    <tr v-for="customer in customers">
                        <td>{{customer.kiot.name}}</td>
                        <td>{{customer.kiot.contactNumber}}</td>
                        <td><modal-set-group :code="customer.kiot.code"></modal-set-group></td>
                    </tr>
                </table>
            </div>
            <script>
                var view = new Vue({
                    el: "#app",
                    data: {
                        customers: [],
                    },
                    methods: {

                    }
                })

                class Controller {
                    constructor(view, model){
                        this.view = view;
                        this.model = model;
                        this.model.onUpdateData = this.onUpdateData;
                    }
                    onUpdateData = () => {
                        this.view.customers = this.model.customers;
                    }
                }

                class Model {
                    constructor(){
                        this.customers = [];
                        this.onUpdateData = function(){};
                        var that = this;
                        $.get("/creta/customer", function(data){
                            that.customers = data;
                            that.onUpdateData();
                        });
                    }
                }

                var app = new Controller(view, new Model());
            </script>
        </div>
    </body>
</html>