<html>
    <head>
        <%- include("header.ejs"); %>
    </head>
    <body>
        <%- include("menu.ejs"); %>
        <div class="container-fluid">
            <%- include("module/doanhthu", {data: sales}) %>
        </div>
    </body>
</html>