<div id="action_campaign">

</div>
<script>
    var action_campaign = new Vue({
        el: "#action_campaign",
        data: {
            
        },
        methods: {

        },
        created: function(){
            
        }
    })
</script>