<div>
    <h3>Module Template</h3>
    <div id="module_template">
        <div class="form-group">
            <label>Tên</label>
            <input class="form-control" placeholder="Tên template">
        </div>
        <div class="form-group">
            <labe>Hành động</label>
            <input class="form-control" placeholder="Tên template">
        </div>
    </div>
</div>
<script>
    var module_template = new Vue({
        el: "#module_template",
        data: {
            model: new ModuleTemplate(),
        },
        methods: {

        },
        created: function(){

        }
    })
</script>